.header {
    &--brand {
        display: inline-block;
    padding-top: .3125rem;
    padding-bottom: .3125rem;
    margin-right: 1rem;
    font-size: 1.25rem;
    line-height: inherit;
    white-space: nowrap;
    }
}
.container {
    display: fluid;
}
.navbar-expand-md {
    flex-flow: row nowrap;
    justify-content: flex-start;
}
.navbar-nav {
    flex-direction: row;
}
.nav-link {
    padding-right: .5rem;
    padding-left: .5rem;
}