.Heading {
    &__Logo {
        &--square {
            width: 72px;
            height: 72px;
        }
    }
    &__h2 {
        font-weight: 500;
        margin-bottom: .5rem;
    }
    &__p {
        &--font {
        font-size: 1.25rem;
        font-weight: 300;
        margin-top: 0;
        margin-bottom: 1rem;
        }
    }
}
.Body {
    &__colum {
        &--padding {
            padding-left: 15px;
            padding-right: 15px;
        }
        &--h4 {
            font-size: 1.5rem;
        }
    }
    &__firstname {
        &--widthform {
            width: 50%;
        }
        
    }
    &--marginright {
        margin-right: -1px;
    }
}