body {
    height: 100vh;
}
.h-33 {
    height: 33.33vh;
}
.Heading {
    &__Logo {
        &--square {
            width: 72px;
            height: 72px;
        }
        &--background {
            background-color: rebeccapurple;
        }
        &--font-size {
            font-size: 70px;
        }
        &--position-fixed {
            position : fixed;
            bottom: 0;
        }
        &--margintop {
            margin-top: 130px;
        }
    }
}
.Content {
    &__Form-input {
        &--border-radius {
            border-bottom: -1px;
            border-bottom-right-radius: 0;
            border-bottom-left-radius: 0;
            border: 1px solid lightblue;
        }
        &--font {
            font-size: 16px;
        }
        &--padding {
            padding: 10px;
        }
    }
    &__Button {
        &--background-border {
            background-color: royalblue;
            border-radius: 10px;;
            border: royalblue solid 1px;
        }
        
        
    }
}
.Footer {
    &__paragraph {
        &--margin--top{
            margin-top: 100px;
        }
    }
}
