body{
    height: 100vh;
 
}
.height-10{
    height: 20vh !important;
}
.height-80{
    height: 80vh !important;
}
.height-10{
    height: 10vh !important;
}
.borderbot{
    border-bottom: solid 1px white;
}
.borderaround{
    border-radius: 10px;
}
.together{
    display: flex;
}
.borderbutton{
    border: solid 1px green;
}
.fontsize{
    font-size: 20px;
}