body{
    height: 100vh;

}
.height-20{
    height: 20vh;
}
.height-60{
    height: 60vh;
}
.height-20{
    height: 20vh;
}
.borderbot{
    border-bottom: solid 1px white;
}
.borderaround{
    border-radius: 10px;
}
.fontsize{
    font-size: 20px;
}